:root{
    --principal: #191923;
    --secondary: #1EFFBC;
    --text: #eeeeee;
    --title: #1EFFBC;
    --down: #FC5130;
    --up: #1EFFBC;
}
*{
    box-sizing: border-box;
    margin: 0mm;
    padding: 0mm;
    font-family: 'Inter', sans-serif;
    color: var(--text);
    font-size: 1.6rem;
}
html {
    font-size: 62.5%;
}
/* 1rem == 10px  */
.body{
    background-color: var(--principal);
}
.main{
    height: 100vh;
    padding-left: 2rem;
    padding-top: 2rem;
}
.main__section--title{
    color: var(--title);
    margin-top: 2rem;
    font-size: 4.5rem;
    margin-left: 20.4rem;
}
#priceUp svg{
    width: 2.5rem;
    height: 2.5rem;
    display: none;
}
#priceUp > svg > path {
    color: var(--up);
}
#priceDown svg{
    width: 2.5rem;
    height: 2.5rem;
    color: var(--down);
    display: none;
}
#priceDown > svg > path {
    color: var(--down);
}
.price__container{
    display: grid;
    grid-template-columns: 377px 532px;
    background-color: #202020;
    border-radius: 1.2rem;
    margin-left: 20.4rem;
    margin-top: 2rem;
    margin-right: 20.4rem;
}
.price__container--item-1{
    display: grid;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    padding-left: 5rem;
    grid-template-columns: 70px 300px;
}
.price__container--item-1 img{
    width: 70px;
    height: 70px;
}
.price__container--item-1 h2{
    font-size: 3rem;
    color: var(--secondary);
}
.item1__text-container{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 2.1rem;
    color: var(--secondary);
    font-weight: 400;
}
.item1__text-container b{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 1.5rem;
    font-weight: 200;
    color: var(--text);
}
.price__container--item-2{
    display: grid;
    grid-template-columns: 401px 110px;
}
.item2__text-container{
    display: flex;
    align-items: center;
    text-align: center;
    
}
.item2__text-container h3{
    font-weight: 400;
    font-size: 3.5rem;
    color: #1EFFBC;

}
.item2__text-container h3:nth-child(1){
    margin-right: 1rem;
}
.alcista{
    color: var(--up);
}
.bajista{
    color: var(--down);
}
.input{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--secondary);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: #1EFFBC;
    outline: none;
}
.inputSat{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--secondary);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: #1EFFBC;
    outline: none;
}
.convert{
    margin-left: 5rem;
    grid-column: 1 / -1;
    padding-top: 5rem;
    
    padding-bottom: 5rem;
}
.usd{
    color: #1EFFBC;
    font-size: 2rem;
    font-weight: 400;
}
.usdsat{
    color: #1EFFBC;
    font-size: 2rem;
    font-weight: 400;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder{
    color: #1EFFBC;
}
button{
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    margin-right: 1rem;
    background-color: transparent;
    align-items: center;
    padding-top: auto;
    padding-bottom: auto;
    position: relative;
}
.fi-rr-refresh{
    position: absolute;
    top: 1rem;
    bottom: 50%;
    left: 0;
    right: 0;
    color: var(--secondary);
}
.boton:hover{
    animation: girar 2s;
}
.boton:focus{
    animation: girar .3s;
    animation-iteration-count: 3;
}
.botonsat:hover{
    animation: girar 2s;
}
.botonsat:focus{
    animation: girar .3s;
    animation-iteration-count: 3;
}

body::-webkit-scrollbar {
    width: 11px;
}
body::-webkit-scrollbar-track {
    background: var(--principal);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--secondary) ;
    border-radius: 6px;
    border: 3px solid var(--principal);
  }
.precioOculto{
    display: none;
}
.boton{
    outline: none;
}
.botonsat{
    outline: none;
}
.satoshis{
    margin-top: 3rem;
}
@keyframes girar {
        from{ transform: rotate(0deg);}
        to{ transform: rotate(180deg);}    
}

@media only screen and (max-width: 1350px){
    
    .price__container{
        grid-template-columns: 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .price__container--item-1{
        grid-template-columns: 90px 1fr;
    }
    .price__container--item-2{
        margin-left: 4rem;
        grid-template-columns: 1fr 200px;
    }
    .main__section--title{
        margin-left: 2rem;
    }
}
.mobile{display:none;}
@media only screen and (max-width: 768px){
    .convert{
        margin-left: calc(50vw - 218px/2);
        margin-right: calc(50vw - 300px/2);
    }
    .price__container{
        grid-template-columns: 1fr;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .price__container--item-1{
        grid-template-columns: 1fr;
        padding-left: 0rem;
        padding-right: 0rem;
        justify-items: center;
    }
    .price__container--item-1 img{
        width: 50%;
    }
    .input{
        width: 40vw;
    }
    .boton{
        margin-right: 4rem;
    }
    .mobile{
        display: block;
    }
    .inputSat{
        width: 40vw;
    }
    .price__container--item-1 h2{
        margin-left: -4rem;
    }
    .price__container--item-1 img{
        width: 50%;
    }
    .price__container--item-2{
        margin-left: 1rem;
        grid-template-columns: 1fr;
        text-align: left;
        justify-items: center;
    }
    .price__container--item-2 h3{
        font-size: 3rem;
        text-align: left;
    }
    .main__section--title{
        margin-left: 2rem;
    }
}